@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body * {
    @apply !font-sans;
  } */

  .b-scroll::-webkit-scrollbar,
  .ant-modal-wrap::-webkit-scrollbar {
    @apply cursor-pointer w-3;
    /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
  }

  .hiddenscroll::-webkit-scrollbar {
    display: none;
  }
  .hiddenscroll::-webkit-scrollbar-button {
    display: none;
  }
  body {
    -ms-overflow-style: none;
  }

  /* .table_order thead th {
    @apply !text-g-300;
  } */

  .title-drag {
    app-region: drag;
    z-index: 99999;
    @apply cursor-move;
  }

  /* .tele {
    transform: scale(0.87);
    transform-origin: top left;
  } */

  /* .diagonal-cell {
    background: linear-gradient(
      to left bottom,
      transparent 50%,
      #eeeff1 50%,
      #eeeff1 51%,
      transparent 51%
    );
  }

  .dark .diagonal-cell {
    background: linear-gradient(
      to left bottom,
      transparent 50%,
      #474747 50%,
      #474747 51%,
      transparent 51%
    );
  } */

  .b-scroll::-webkit-scrollbar-track,
  .ant-modal-wrap::-webkit-scrollbar-track {
    @apply bg-s-100 dark:bg-g-800;
    /*background: red;*/
  }
  .b-scroll::-webkit-scrollbar-thumb,
  .ant-modal-wrap::-webkit-scrollbar-thumb {
    @apply box-border bg-s-400 dark:bg-g-600 rounded-md border-2 border-solid border-transparent bg-clip-content;
    /*outline: 1px solid slategrey;*/
  }
  .b-scroll::-webkit-scrollbar:hover,
  .ant-modal-wrap::-webkit-scrollbar:hover {
    @apply w-5;
  }
  .ant-table-wrapper
    .ant-table-tbody
    > tr.priority.custom.ant-table-row:hover
    > td,
  .ant-table-wrapper
    .ant-table-tbody
    > tr.priority.custom
    > td.ant-table-cell-row-hover {
    @apply bg-transparent;
  }
  .ant-table-wrapper tr.custom td.ant-table-column-sort {
    @apply bg-black dark:bg-white !bg-opacity-5;
  }
  .ant-table-wrapper tr.custom:hover td.ant-table-column-sort {
    @apply !bg-black dark:!bg-white !bg-opacity-10 dark:!bg-opacity-10;
  }

  .ant-table-wrapper .ant-table-tbody > tr.priority.ant-table-row:hover > td,
  .ant-table-wrapper
    .ant-table-tbody
    > tr.priority
    > td.ant-table-cell-row-hover {
    @apply bg-transparent;
  }
}

/* .ant-modal-root .ant-modal-wrap {
  z-index: 99999 !important;
} */

header {
  -webkit-app-region: drag;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin2 {
  animation: spin 2s linear infinite;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
#app {
  @apply flex flex-col h-screen bg-s-200 dark:bg-g-951;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

.ant-image-preview-operations-wrapper {
  top: auto !important;
  bottom: 0 !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
  @apply !font-normal bg-white dark:bg-[#343434] text-g-700 dark:text-g-400;
}
/* .ant-input,
.ant-input-affix-wrapper,
.ant-select-selector,
.ant-picker,
.ant-input-number {
  border-width: 2px !important;
} */

.financy_table .ant-table-expanded-row > .ant-table-cell {
  padding-top: 0 !important;
  padding-right: 0 !important;
}

.ant-table-wrapper
  .ant-table.ant-table-small
  .ant-table-tbody
  > tr.row-small
  > td {
  padding: 5px !important;
}

/** transition effects **/
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/* we will explain what these classes do next! */
.height-enter-active,
.height-leave-active {
  transition: all 0.2s ease;
}

.height-enter-from,
.height-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
